@{
    ViewData["Title"] = "Violence";
}

<div class="card">
    <h5 class="card-header">Violence page</h5>
    <div class="card-body">
        <h5 class="card-title">Requires authorization</h5>
        <p class="card-text">This page requires to "AtLeast18Policy" requirement to access.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
    </div>
</div>