@{
    ViewData["Title"] = "Profile";
}

<div class="card">
    <h5 class="card-header">Profile page</h5>
    <div class="card-body">
        <h5 class="card-title">Requires authorization</h5>
        <p class="card-text">This page requires to "Admin, Moderator, Editor and User" roles to access.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
    </div>
</div>