@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <h5 class="card-header">Change password</h5>
            <div class="card-body">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPasswordConfirm"></label>
                        <input asp-for="NewPasswordConfirm" class="form-control" type="password" />
                        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-link">Home</a>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>