@model UpdateProfileViewModel
@{
    ViewData["Title"] = "Update profile";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <h5 class="card-header">Update profile</h5>
            <div class="card-body">
                <form asp-action="Profile">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDay"></label>
                        <input asp-for="BirthDay" class="form-control" type="date" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Gender"></label>
                        <select asp-for="Gender" class="form-control"
                            asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-link">Dashboard</a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>